body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.app {
    display: flex;
    width: 100%;
}

.sidebar-container {
    min-height: 100vh;
    background-color: rgb(68, 68, 68);
    position: relative;
}

.sidebar {
    width: 200px;
    padding-top: 100px;
    color:white;
}

.sidebar-category {
    background-color: rgb(68, 68, 68);
    position: relative;
}

.sidebar-sub-category {
    padding: 10px;
}

.sidebar-sub-category:hover {
    background-color: gainsboro;
}

.sidebar-super-category {
    padding: 10px;
    font-size: 24px;
}

.sidebar-super-category:hover {
    background-color: gainsboro;
}

.content-container {
    padding: 25px;
    font-family: 'Playfair Display', serif;
    line-height: 1.5em;
}

.sidebar-icon {
    position: absolute;
    color:white;
    right: 0;
    top: 0;
}

.view-post {
    padding: 30px;
    width: 100%;
}

.view-post-sub-category-subject {
    font-size: 30px;
    color:coral;
    margin-bottom: 30px;
}

.view-post-subject {
    font-size: 50px;
    text-align: center;
}

.view-post-date {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}